body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL8v9fEZAGd-raxA1v22ycOaZ0bFnqHCfrPA&s) ;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}